<header class="container header">
  <div class="header__grid">
    <div class="header__logo">
      <i class="bi bi-arrow-up-right-circle-fill"></i>
      <span>CARGO MONITOR</span>
    </div>
    <div class="header__menu">
      <ul>
        <li><a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a></li>
        <li><a routerLink="/list" routerLinkActive="active" ariaCurrentWhenActive="page">Lista de entregas</a></li>
      </ul>
    </div>
    <div class="header__actions">
      <ul>
        <li>
          <button mat-icon-button aria-label="Search Icon">
            <mat-icon>search</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button aria-label="Search Icon">
            <mat-icon>notifications</mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
